footer.hero-foot(style='padding: 20px 10px 20px 10px;')
	.container
		.level
			.level-left
				a(href='https://lightchain.net') lightchain.net
				span &nbsp; | &nbsp;
				a(href='http://explorer.lightchain.net') block explorer
				span &nbsp; | &nbsp;
				a(href='https://hashblaster.com/') official pool

			.level-right
				| Crafted with
				span.icon.has-text-danger
					icon.icon-heart
				| by Fexra &nbsp; | &nbsp; ExtraHash & LightChain Developers &copy; 2019

script(src='/js/app.js')
