extends ../includes/layout_default

block content

	section.columns

		.column
			p This is where you will register your node details.
		.column
			p This will be a list of your registered nodes, node statuses, and payout information.
