html
	include ../includes/header.pug

	body
		include ../includes/nav.pug

		section.hero.is-light(style='padding-top:60px;')

			.hero-body
				.container.is-desktop(style='min-height:314px;background-image:url("/img/swanson/350/Computing.png");background-repeat:no-repeat;background-position:right;')
					div(style='max-width: 60%;')
						h1.title.is-size-1(style='line-height:1.5;') Disciple Node Manager
						h1.subtitle.is-size-2.has-text-weight-light.has-background-white(style='line-height:1.4;padding:15px;')
							| Register now to manage your disciple nodes on the LightChain network.
						
						.buttons
							a.button.is-large.is-primary.is-outlined.is-hidden-mobile(href='/register' style='font-size:1.8em;')
								span.icon.is-large
									i.icon-rocket
								span Register Now

		section.hero.is-small
			.hero-body(style='padding:20px 0 50px 0;')
				.container.is-desktop
					.columns.has-text-centered
						.column
							div(style='min-height:250px;background-image:url("/img/swanson/250/SuperTurtle.png");background-repeat:no-repeat;background-position:center;')
							p.title.is-size-4
								| Setup your Node
							hr
							p.subtitle.is-italic.is-size-5.has-text-weight-light(style='line-height:1.8;')
								| You'll need the latest version of the daemon software from here and a static IP address that's able to accept incoming traffic on a specified port. 
						.column
							div(style='min-height:250px;background-image:url("/img/swanson/250/LazyFexra.png");background-repeat:no-repeat;background-position:center;')
							p.title.is-size-4
								| Register your Node
							hr
							p.subtitle.is-italic.is-size-5.has-text-weight-light(style='line-height:1.8;')
								| Sign up for an account and register your node details. You'll need to register an IP address, port, and payment address for each disciple node you wish to operate.
						.column
							div(style='min-height:250px;background-image:url("/img/swanson/250/PlugandPlay.png");background-repeat:no-repeat;background-position:center;')
							p.title.is-size-4
								| Collect Rewards
							hr
							p.subtitle.is-italic.is-size-5.has-text-weight-light(style='line-height:1.8;')
								| You will be paid coins for the service you provide of maintaining a node and validating blocks for the network. THis helps ensure lower network latency for everyone and ensures the network runs smoothly. 

		include ../includes/footer.pug
