html
	include ../includes/header.pug

	body
		include ../includes/nav.pug

		section.hero.is-light(style='padding-top:60px;')

			.hero-body
				.container.is-desktop(style='min-height:314px;background-image:url("/img/logo-fullsize.png");background-repeat:no-repeat;background-position:right;')
					div(style='max-width: 60%;')
						h1.title.is-size-1(style='line-height:1.5;') Disciple Node Manager
						h1.subtitle.is-size-2.has-text-weight-light.has-background-white(style='line-height:1.4;padding:15px;')
							| Register now to manage your disciple nodes on the LightChain network.
						
						.buttons
							a.button.is-large.is-primary.is-outlined.is-hidden-mobile(href='/register' style='font-size:1.8em;')
								span.icon.is-large
									i.icon-rocket
								span Register Now

		section.hero.is-small
			.hero-body(style='padding:20px 0 50px 0;')
				.container.is-desktop
					.columns.has-text-centered
						.column
							div.icon.is-large.is-dark.has-text-black(style="font-size:6em;min-height:250px;")
								i.icon-link
							p.title.is-size-4
								| Setup your Node
							hr
							p.subtitle.is-italic.is-size-5.has-text-weight-light(style='line-height:1.8;')
								| You'll need the latest version of our software and a static IP address.
						.column
							div.icon.is-large.is-dark.has-text-black(style="font-size:6em;min-height:250px;")
								i.icon-note
							p.title.is-size-4
								| Register your Node
							hr
							p.subtitle.is-italic.is-size-5.has-text-weight-light(style='line-height:1.8;')
								| Signing up is easy. Simply enter your IP address, payment address, and RPC port, and start your daemon with a few cli flags to get started.

						.column
							div.icon.is-large.is-dark.has-text-black(style="font-size:6em;min-height:250px;")
								i.icon-cup
							p.title.is-size-4
								| Collect Rewards
							hr
							p.subtitle.is-italic.is-size-5.has-text-weight-light(style='line-height:1.8;')
								| You'll be paid for keeping your node open. This service helps validate blocks, lowers latency, and keeps the network running smoothly.

		include ../includes/footer.pug
